body {
    margin: 0;
    padding: 0;
}
* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    box-sizing: border-box;
    color: #999999;
    text-decoration: none;
}

.nav {
    position: fixed;
    right: 0;
    z-index: 1;
}
.nav li {
    list-style:none;
}

/*HOME*/
.home {
    height: 580px;
    position: relative;
    background-image: url("../images/home3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.absol {
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 35%;
    font-size: 30px;
}
.name div {
    color: #4d1a00;
}
.backgr {
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
}
.for {
    text-align: left;
    margin-left: 20%;
    border-left: 2px solid #4d1a00;
    padding-left: 2%;
}
span {
    color: #4d1a00;
}
.divbutton1 {
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 15%;
    border: 3px solid #4d1a00;
    display: block;
}
.divbutton1 a {
    display: block;
    padding: 10px;
}
.divbutton2 {
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5%;
    border: 3px solid #4d1a00;
    display: block;
}
.divbutton2 a {
    display: block;
    padding: 10px;
}

/*ABOUT*/
.about {
    text-align: center;
    background-color:#e6e6e6;
}
.about img {
    width: 100%;
    height: auto;
    border: 2px solid #4d1a00;
}


/*TECHNOLOGIES*/
.technologies div {
    text-align: center;
    background-color:#e6e6e6;
}
.htmlcssjs img {
    width: 80%;
    height: auto;
}
.featurepic img {
    width: 70%;
    height: auto;
}
.featurepic div {
    font-size: 30px;
    color: #4d1a00;
    text-decoration: underline;
}

/*CONTACTS*/
.contacts {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    background-image: url("../images/footerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.order {
    text-align: center;
    border: 3px solid #4d1a00;
    width: 95%;
    margin: 10% auto;
    background-color: transparent;
}
.feedback {
    text-align: center;
    width: 95%;
    margin: 10% auto;
}
.logo img {
    width: 50px;
    margin: 30px 2px 20px 2px;
}
input {
    width: 95%;
    height: 50px;
    border: none;
    border-bottom: 3px solid #4d1a00;
    font-size: 25px;
    text-align: center;
    margin-bottom: 9px;
    background-color: transparent;
}
input.submit {
    border: 3px solid #4d1a00;
    color: #4d1a00;
    font-weight: bold;
}
textarea {
    width: 85%;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid #4d1a00;
}
.feedback textarea {
    width: 95%;
}






@media screen and (min-width: 960px) {

@media screen and (min-width: 480px) {
    
}

