 {
    border: 1px solid black;
}
* {
    font-family: Arial;
}

.about, .skills, .feedback, .contacts {
}
.home {
    height: 700px;
    background-image: url("/images/homeimage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
.nav {
    position: fixed;
    right: 30px;
    top: 50px;
}
nav li {
    display: inline;
    padding-right: 60px;
}
li a {
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    color: yellow;
}
.contacts {
    height: 700px;
    background-image: url("/images/contactsimage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachmnt: fixed;
}

@media screen and (max-width: 960px) {}
@media screen and (max-width: 480px) {}

